.topbar {
  width: calc(100% - 35%);
  min-width: 600px;
  max-width: auto;
  height: 70px;
  position: fixed;
  top: 0;
  left: 15%; 
  right: 20%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  background-color: transparent;
  box-sizing: border-box;
}

.input-container {
  position: relative;
  flex-grow: 1;
  max-width: 600px;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 10px 25px; /* Ajoute de l'espace pour l'icône */
  font-size: 15px;
  border: 1px solid rgba(227, 62, 158, 0.415);
  background: linear-gradient(rgba(2, 6, 23, 0.50), rgba(2, 6, 23, 0.50)) padding-box;
  border-radius: 50em;
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  transition: border-color 0.3s ease;
}

.input-container .search-icon {
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  transition: color 0.3s ease;
}

.input-container input:active,
.input-container input:focus {
  border-color: #E33E9F;
}

.input-container input:focus + .search-icon {
  color: #ffffff;
}

.topbar input {
  flex-grow: 1;
  max-width: 600px;
  padding: 10px 25px;
  font-size: 15px;
  border: 1px solid rgba(227, 62, 158, 0.415);
  background: linear-gradient(rgba(2, 6, 23, 0.50), rgba(2, 6, 23, 0.50)) padding-box;
  border-radius: 50em;
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  transition: border-color 0.3s ease;
}

.topbar input:active {
  border-color: #E33E9F;
}

.topbar button {
  background: linear-gradient(180deg, rgba(227, 62, 159, 0.25) 0%, rgba(77, 37, 174, 0.25) 100%);
  border: 1px solid #4D25AE;
  color: rgb(255, 255, 255, 50%);
  font-size: 16px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease, height 0.3s ease, border 0.3s ease;
}

.topbar button:hover {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
}

.topbar ::placeholder {
  color: rgb(255, 255, 255, 50%);
}
  
.topbar button svg {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.5);
  transition: fill 0.3s ease, transform 0.3s ease;
}

.topbar button:hover svg {
  fill: #ffffff;
  transform: scale(1.1);
}

.topbar button:active svg {
  fill: #E33E9F;
  transform: scale(0.9);
}